.detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  display: inline-block;
  position: fixed;
  bottom: 45%;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ff9b9f;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.off {
	display: none;
}

.imgContainerDI {
  height: 300px;  
  /*border-style: solid;
  border-width: 1px;
  border-collapse: black;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.itemImgDI {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.DIFlexContainer {
  display: flex;
  justify-content: space-between;
}

.DIFlexContainerInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}

.DIFlexContainerTables {
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  height: 100%;
}

th {
  text-align: center;
  width: 33%;
}

.panel-body {
  text-align: center;
}

.DITab1 {
  height: 100%;
  flex-grow: 2;
}

.DITabs {
  height: 100%;
}

.DIListGroup {
  max-height: 260px;
  overflow: scroll;
}

.divLoaderTitle {
  display: flex;
  justify-content: center;
}
